
ul{

    list-style-image: url("/img/5.pp.png");
   font-family: Constantia;
    font-size: 20px;
}

.list1{
    list-style-image: url("./img/6.p.png");
}
.list2{
    list-style-image: url("../img/7.p.png");
}
.list3{
    list-style-image: url("../png/8.p.png");
}
.list4{
    list-style-image: url("../img/9.p.png");
}
h2{
    color: #008cff;
     padding-left: 40px;
}
div{
    padding-left: 40px;
    background-color: #f0fff6;
    margin-left: 80px;
}
h3{
    font-size: 25px;

}

